@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 7% 11%;
    --card: 0 0% 100%;
    --card-foreground: 210 7% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 7% 11%;
    --primary: 192 100% 19%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 7% 11%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 2% 90%;
    --muted-foreground: 210 2% 47%;
    --accent: 22 89% 54%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 2% 80%;
    --input: 210 2% 80%;
    --ring: 192 100% 19%;
    --chart-1: 192 100% 19%;
    --chart-2: 210 7% 11%;
    --chart-3: 22 89% 54%;
    --chart-4: 210 2% 47%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 210 7% 11%;
    --foreground: 0 0% 100%;
    --card: 210 7% 14%;
    --card-foreground: 0 0% 100%;
    --popover: 210 7% 14%;
    --popover-foreground: 0 0% 100%;
    --primary: 192 100% 25%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 7% 18%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 7% 18%;
    --muted-foreground: 210 2% 60%;
    --accent: 22 89% 54%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 7% 18%;
    --input: 210 7% 18%;
    --ring: 192 100% 25%;
    --chart-1: 192 100% 25%;
    --chart-2: 210 7% 18%;
    --chart-3: 22 89% 54%;
    --chart-4: 210 2% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
